@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");
/* font-family: 'Bacasime Antique', serif; */
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Dancing+Script:wght@400;500&display=swap");
/* font-family: 'Bacasime Antique', serif; */
/* font-family: 'Dancing Script', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecero {
  width: 100%;
}

.cabecero_top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 5px 10%;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.logo {
  display: flex;
  cursor: pointer;
  margin-right: 100px;
  margin-top: 10px;
}
.logo img {
  height: 70px;
  transition: all 0.3s;
}

.logo img:hover {
  transform: scale(1.2);
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
  text-decoration: none;
  color: aliceblue;
  font-weight: 400;
}
.nav-links li a {
  color: rgb(235, 222, 222);
  text-decoration: none;
  border: solid 0.5px;
  padding: 6px 15px;
}
.btn {
  text-decoration: none;
  margin-left: 20px;
  color: rgb(234, 229, 229);
  padding: 6px 15px;
  border: none;
  cursor: pointer;
  border: solid 0.5px;
}

.cabecero_medio {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.medio_lista li {
  display: inline-block;
  width: 100px;

  margin: 10px;
  padding: 5px;
  list-style-type: none;
}
.medio_lista ul li a {
  text-decoration: none;
  color: rgb(240, 19, 199);
}

.medio_lista li a i {
  display: flex;
  justify-content: flex-end;
}
.hero {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(to top, #feada667 0%, #f5efefe2 100%),
    url(./img/coleccion-productos-maquillaje-belleza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

H1 {
  width: 100%;
  font-size: 70px;
  transition: all 0.5;
  color: black;
  cursor: pointer;
  visibility: hidden; /* Inicialmente oculto */
  animation: mostrarH1 1s linear 3s forwards;
}

/* Definimos la animación */
@keyframes mostrarH1 {
  to {
    visibility: visible; /* Mostrar el H1 */
  }
}

h1:hover {
  color: #d57eeb;
}
.title_cards {
  text-align: center;
  width: 100%;
  margin-top: 100px;
  font-size: 40px;
}

.cards {
  gap: 50px;
  display: flex;
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_image {
  width: 100%;
  display: flex;
}

.card_image img {
  width: 100%;
}
.card_text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  padding: 5px;
}

.card_title {
  margin: 20px;
  padding: 5px;
}

.container_galery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.text_galery {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-family: "Bacasime Antique", serif;
}

.caja_galery {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  height: 300px;
}
.img_galery {
  width: 100%;
}
.img_galery img {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.img_galery img:hover {
  transform: scale(1.2);
}

.videorosa {
  z-index: -1;

  width: 100%;
  position: absolute;
}

.container {
  display: flex;
  width: 100%;

  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 80px 0;
  position: relative;
}

.caja {
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cont_image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image {
  display: flex;
  width: 800px;
  margin: 20px;
}
.text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);

  padding: 8px;
  margin: 5px;
}
.precio_crema {
  color: #8b61ff;
  margin: 10px;
  font-size: 25px;
  padding: 5px;
}
.title {
  color: #8b61ff;
  font-weight: 800;
  font-size: 30px;
  padding: 10px;
}
.parrafo {
  color: #ffffff;
  margin-top: 20px;
}
.parrafo_descripcion {
  display: flex;
  margin-top: 20px;
  font-weight: 700;
}
.list_product1 {
  margin-top: 20px;
  font-weight: 600;
}

.container_productos {
  display: flex;
  width: 100%;

  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 80px 0;
  position: relative;
}

.caja_productos {
  margin-top: 200px;
  width: 90%;
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.cont_productos {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image_productos {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  margin: 20px;
}
.text_productos {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: rgb(169, 39, 138);

  padding: 8px;
}
.precio_crema_productos {
  color: #8b61ff;
  margin: 10px;
  font-size: 25px;
  padding: 5px;
}
.title_productos {
  color: #8b61ff;
  font-weight: 800;
  font-size: 30px;
  padding: 10px;
}
.parrafo_productos {
  color: rgb(169, 39, 138);
  margin-top: 20px;
}
.parrafo_descripcion_productos {
  display: flex;
  margin-top: 20px;
  font-weight: 700;
}
.list_product1_productos {
  margin-top: 20px;
  font-weight: 600;
}

.caja_video_pie {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  align-items: center;
}

.video_pie {
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.pie {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
}
.pie_box {
  margin-top: 200px;
  height: 400px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 200px;
}
.pie_box li {
  display: inline-block;
  flex-wrap: wrap;
  width: 200px;
  cursor: pointer;
  font-weight: 800;
  margin: 30px;
  padding: 5px;
  list-style-type: none;
}
.pie_box li a {
  cursor: pointer;

  text-decoration: none;
  color: rgb(90, 7, 112);
}
.pie_redes {
  width: 25%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  list-style-type: none;
}
.pie_title {
  width: auto;

  display: flex;
  margin-bottom: 80px;
  font-size: 35px;
}
.pie_redes li {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  list-style-type: none;
  margin: 5px;
  border-radius: 5px;
}

.firma {
  margin-top: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  color: #431fa6;
}

.caja_mapa {
  width: 30%;
  height: 600px;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}
.mapa {
  display: flex;
  width: 300px;
  height: 200px;
}
.text_mapa {
  font-size: 30px;
  display: flex;
  margin-bottom: 140px;
  color: #421bb0;
}
